@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
}

.logo {
    max-width: 250px; 
    height: auto;
    margin-left: 0px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar a {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .2rem;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


.head-bg {
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/espresso.jpg) center center;
    background-size: cover;
    margin-bottom: 0px;
}



footer {
    background-color:rgba(180, 167, 156, 0.65);
    margin-top: 0px;
}

h1.body {
    margin-top: 300px;
}

.media-body{
    margin-left: 50%
}

.copyright {
    background-color:rgba(185, 174, 165, 0.65);
}

.footer-logo {
    width: 200px;
}

.img-r {
    margin-left: 37%;
}

#background-video {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 950px;
    object-fit: cover;
    position: relative;
}

.caption {
    position: absolute;
    top: 28%;
    max-width: 100%;
    height: auto;
    color: white;
    left: 13%;
    right: 13%;
}

.caption h1{
    font-size: 2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
}

.btn-lg {
    border-width: medium;
    border-radius: 25%;
    font-size: 1.5rem;
    margin-top: 10px;
}

.responsive-logo {
    max-width: 100%;
    height: auto;
}

.bg-custom {
    background-color: rgba(180, 167, 156, 0.65);
}

#menu {
    background-image: url(/images/menu-background.jpg);
    background-repeat: no-repeat;
}

.card {
    background-color: rgba(226, 223, 223, 0.95);
    border: none;
    border-radius: 2%;
}

.bottom-radius {
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.top-radius {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

#events {
    background: url(/images/event-background.jpg);
    padding-top: 2%;
    padding-bottom: 5%;
}

#events .card {
    background-color: rgba(54, 51, 51, 0.95);
}

.carousel-inner {
    border-radius: 2%;
}

.events {
    text-decoration: underline;
    font-family: 'Dancing Script', cursive;
}

.boxed {
    background-color: rgba(54, 51, 51, 0.90);
    margin: auto;
    border-radius: 2%;
    margin-top: 11px;
    padding-bottom: 2px;
}

#contact {
    background-image: url(/images/coffee_bean_background.jpg)
}

#contact .card {
    background-color: rgba(226, 223, 223, 0.95);
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:75%;
    width:75%;
    position:absolute;
}




























